@tailwind base;
@tailwind components;
@tailwind utilities;

.css-2f70gd-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    height: 34px!important;
}
.css-clttge-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input{
    height: 6px!important;
}
.bg-white{
    background: #FAFAFA;

}
.form-control{
    padding: 10px;
    border: 1px solid #838383!important;
    border-radius: 5px;
}
.guZdik{
 
height: 72px!important;
padding: 18px 121px 18px 121px!important;
gap: 0px!important;
border-radius: 4px 0px 0px 0px!important;
border: 1px 0px 0px 0px!important;
opacity: 0px!important;

}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
color: red!important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
    color: red!important;
}
.css-z7uhs0-MuiStepConnector-line{
    border: red!important;
}